<div class="accordion" id="accordion2">
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
        Status Codes
      </a>
    </div>
    <div id="collapseOne" class="accordion-body collapse">
      <div class="accordion-inner">
        <ul>
          <li><b>selected</b> Genes have been selected on the Data Source page.</li>
          <li><b>located</b>  Genes have been located in the UCSC database.</li>
          <li><b>sequenced</b> DNA sequence retrieved.</li>
          <li><b>prepared</b>  Assays have been prepared.</li>
          <li><b>error</b> The system has encountered an error. Call support. </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
        Historical Data
      </a>
    </div>
    <div id="collapseTwo" class="accordion-body collapse">
      <div class="accordion-inner">
        More help information can go in here.
      </div>
    </div>
  </div>
</div>