<div id="<%= id %>" class="modal container hide" tabindex="-1">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3>UCSC Genome Browser</h3>
    <%#= link_to 'Open in new tab', url, class: 'btn', target: :blank %>
  </div>
  <div class="modal-body" style="height: 800px">
    <iframe src="<%= url %>" style="width: 100%; height: 100%"></iframe>
  </div>
  <div class="modal-footer">
    <button type="button" data-dismiss="modal" class="btn">Close</button>
  </div>
</div>